<% layout("/layouts/boilerplates") %>

<div class="container-auth">
    <form action="/login" method="post" class="auth-form">
        <h2>Log-in to Quiz Web</h2>
        <label for="username">Username:</label>
        <input type="text" name="username" placeholder="Enter Username" required><br><br>
        <label for="password">Password:</label>
        <input type="password" name="password" placeholder="Enter Pasword" required><br> <br>
        <button class="btn">Log-in</button>        
    </form>
</div>