<% layout("/layouts/boilerplates") %>

<div class="container-auth">
    <form action="/signup" method="post" class="auth-form">
        <h2>Sign-up to Quiz Web</h2>
        <label for="username">Username:</label>
        <input type="text" name="username" placeholder="Enter Username" required><br><br>
        <label for="email">Email:</label>
        <input type="email" name="email" placeholder="Enter E-mail" required><br> <br>
        <label for="password">Password:</label>
        <input type="password" name="password" placeholder="Enter Pasword" required><br> <br>
        <button class="btn">Sign-Up</button>        
    </form>
</div>